In [1]:
##GIVE CREDITS TO DATASET IN THE FINAL APP
#Imports
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from ipynb.fs.full.functions import *

In [2]:
#Download CSV file
#world_cases = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

In [3]:
#Import saved file
init_df = pd.read_csv('../Data/CovidData/owid-covid-data.csv')
init_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63387,ZWE,Africa,Zimbabwe,2021-01-27,32304.0,300.0,413.714,1122.0,19.0,34.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
63388,ZWE,Africa,Zimbabwe,2021-01-28,32646.0,342.0,371.286,1160.0,38.0,34.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
63389,ZWE,Africa,Zimbabwe,2021-01-29,32952.0,306.0,347.000,1178.0,18.0,30.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
63390,ZWE,Africa,Zimbabwe,2021-01-30,33273.0,321.0,323.714,1193.0,15.0,31.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535
63391,ZWE,Africa,Zimbabwe,2021-01-31,33388.0,115.0,295.429,1217.0,24.0,30.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.535

In [4]:
#Bubble chart

bub_df = init_df.copy()
preprocessing(bub_df)
df = add_missing_dates(bub_df)
bub_df = bubble_df(df)

bub_df

,iso_code,continent,location,week,total_cases,new_cases,total_deaths,total_cases_per_million,gdp_per_capita,life_expectancy
0,AFG,Asia,Afghanistan,1,0.0,0.0,0.0,0.000,1803.987,64.83
1,AFG,Asia,Afghanistan,2,0.0,0.0,0.0,0.000,1803.987,64.83
2,AFG,Asia,Afghanistan,3,0.0,0.0,0.0,0.000,1803.987,64.83
3,AFG,Asia,Afghanistan,4,0.0,0.0,0.0,0.000,1803.987,64.83
4,AFG,Asia,Afghanistan,5,0.0,0.0,0.0,0.000,1803.987,64.83
...,...,...,...,...,...,...,...,...,...,...
10882,ZWE,Africa,Zimbabwe,53,17194.0,1365.0,418.0,1156.838,1899.775,61.49
10883,ZWE,Africa,Zimbabwe,54,23239.0,985.0,551.0,1563.555,1899.775,61.49
10884,ZWE,Africa,Zimbabwe,55,28675.0,1112.0,825.0,1929.297,1899.775,61.49
10885,ZWE,Africa,Zimbabwe,56,32004.0,733.0,1103.0,2153.277,1899.775,61.49
10886,ZWE,Africa,Zimbabwe,57,33388.0,342.0,1217.0,2246.395,1899.775,61.49